/*!
 * Start Bootstrap - Grayscale v5.0.4 (https://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-grayscale/blob/master/LICENSE)
 */

.purple-bg {
  background-color: #893367;
  padding: 100px 0px 100px;
}

.white-bg {
  background-color: #fff;
  padding: 100px 0px 100px;
}

hr {
  width: 6rem;
  border: 1px solid white;
  margin-bottom: 2rem;
}

.text-black {
  color: #161616;
}

#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #893367;
  border: 1px solid #893367;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  padding: .9rem 0;
}

#mainNav .navbar-brand img {
  max-width: 20vw;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: #161616;
  }
  #mainNav .nav-link:hover {
    color: rgba(22, 22, 22, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #893367;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #511e3d;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #893367;
    outline: none;
    border-bottom: 0.25rem solid #893367;
  }
}

.masthead {
  position: relative;
  width: 100%;
  padding: 15rem 0;
}

.masthead h1 {
  font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel-caption {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: initial;
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .carousel-caption h2 {
    font-size: 4rem;
    font-weight: 700;
  }
}

@media (min-width: 992px) {
  .carousel-caption h2 {
    font-size: 6.5rem;
  }
}

.carousel-caption a {
  color: white !important;
}

.carousel-caption a:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.btn {
  -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: 'Varela Round';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #893367;
}

.btn-primary:hover {
  background-color: #64254b;
}

.btn-primary:focus {
  background-color: #64254b;
  color: white;
}

.btn-primary:active {
  background-color: #511e3d !important;
}

.services-section {
  max-width: 80vw;
  margin: auto;
  padding: 3rem;
  background-color: white;
}

.services-section p {
  margin-bottom: 6rem;
}

.services-section h2 {
  margin-top: 3rem;
  text-transform: uppercase;
}

.services-section .icon {
  width: 140px;
  padding: 30px;
  border: 1px solid #cccccc;
  border-radius: 50%;
}

.services-section .icon img {
  width: 80px;
  height: 80px;
}

.services-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 3rem;
}

.services-section li::before {
  content: "> ";
}

.services-section .logos {
  padding-bottom: 3rem;
}

.services-section .logos img {
  padding: 10px;
  height: 70px;
}

.works-section {
  padding: 3rem;
  background: url("../img/logo-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.works-section hr {
  border: 0.5px solid #893367;
  margin-bottom: 3rem;
}

.works-section h1 {
  color: #893367;
  font-size: 3rem;
  padding-bottom: 3rem;
}

.works-section p {
  padding: 0 0 2rem;
}

.works-section h5 {
  color: #893367;
}

.works-section ul {
  margin: 0px;
  padding: 0 0 2rem;
  list-style: none;
}

.works-section ul li::before {
  content: "- ";
}

@media (min-width: 992px) {
  .works-section h1 {
    font-size: 6rem;
  }
}

.companies-section {
  padding: 3rem 0 3rem;
}

.companies-section img {
  max-width: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.companies-section img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.contact-section .contact-form {
  padding-left: 1rem;
  padding-right: 1rem;
}

.contact-section h1 {
  font-size: 3rem;
  color: white;
}

.contact-section h2 {
  font-size: 1.2rem;
  color: white;
}

.contact-section h3 {
  font-size: 1.2rem;
  color: #893367;
  font-weight: 700;
}

.contact-section hr {
  margin-bottom: 2rem;
}

.contact-section p {
  line-height: 1rem;
}

.contact-section .logos {
  display: inline-block;
}

.contact-section .logos img {
  height: 80px;
  padding: 10px;
}

.contact-section input,
.contact-section textarea {
  background-color: rgba(137, 51, 103, 0.3);
  color: white;
}

.contact-section ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.contact-section :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.contact-section ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.contact-section ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.contact-section :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.contact-section ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

@media (min-width: 992px) {
  .contact-section h1 {
    font-size: 6rem;
  }
}

body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.0625em;
}

a {
  color: #893367;
}

a:focus, a:hover {
  text-decoration: none;
  color: #3f172f;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #893367 !important;
}

.text-primary {
  color: #893367 !important;
}

footer {
  padding: 2rem 0;
}
