.contact-section {
  .contact-form {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  h1 {
    font-size: $h1-font-size / 2;
    color: white;
  }
  h2 {
    font-size: 1.2rem;
    color: white;
  }
  h3 {
    font-size: 1.2rem;
    color: $primary;
    font-weight: 700;
  }
  hr {
    margin-bottom: 2rem;
  }
  p {
    line-height: 1rem;
  }
  .logos {
    display: inline-block;
    img {
      height: 80px;
      padding: 10px;
    }
  }
  input,
  textarea {
    @include transparentBackgroundColorMixin(0.3, $primary);
    color: white;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

  @media (min-width: 992px) {
    h1 {
      font-size: $h1-font-size;
    }
  }
}
