//  Mixins

.purple-bg {
  background-color: $primary;
  padding: 100px 0px 100px;
}

.white-bg {
  background-color: $white;
  padding: 100px 0px 100px;
}

hr {
  width: 6rem;
  border: 1px solid white;
  margin-bottom: 2rem;
}

@mixin transparentBackgroundColorMixin($alpha, $color) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

.text-black {
  color: $black;
}
