.services-section {
  max-width: 80vw;
  margin: auto;
  padding: 3rem;
  background-color: white;
  p {
    margin-bottom: 6rem;
  }
  h2 {
    margin-top: 3rem;
    text-transform: uppercase;
  }
  .icon {
    width: 140px;
    padding: 30px;
    border: 1px solid #cccccc;
    border-radius: 50%;
  }
  .icon img {
    width: 80px;
    height: 80px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 3rem;
  }
  li::before {
    content: "> "
  }
  .logos {
    padding-bottom: 3rem;
  }
  .logos img {
    padding: 10px;
    height: 70px;
  }
}
