.works-section {
  padding: 3rem;
  background: url('../img/logo-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  hr {
    border: 0.5px solid $primary;
    margin-bottom: 3rem;
  }
  h1 {
    color: $primary;
    font-size: $h1-font-size / 2;
    padding-bottom: 3rem;
  }
  p {
    padding: 0 0 2rem;
  }
  h5 {
    color: $primary;
  }
  ul {
    margin: 0px;
    padding: 0 0 2rem;
    list-style: none;
    li::before {
      content: "- "
    }
  }
  @media (min-width: 992px) {
    h1 {
      font-size: $h1-font-size;
    }
  }
}
